@mixin shadows {
    -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
}

@mixin flexCenter {
    display: flex;
    flex-wrap: wrap;
}

article section {
    @include shadows();
}