@import "./body";
@import "./article-section";
@import "./padding";
html {
    height: 100%;
    font-family: 'Montserrat';
    display: grid;
    align-items: center;
    justify-items: center;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    color: blue;
}

html[data-theme='Red'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    color: rgb(255, 0, 0);
}

article {
    display: flex;
    flex-wrap: wrap
}

article section#selling-points {
    flex-grow: 2;
    flex-basis: 100%
}

h1,
h2,
h6 {
    color: #6B8EFF
}

h1 {
    text-align: center
}

h6 {
    text-align: center;
    font-size: 2em;
    padding: $paddingred * 2;
    margin-bottom: 0px
}

.message {
    border: 1px solid #ccc;
    padding: $paddingred;
    color: #2748B3;
    background-color: #000;
    width: 100%
}

.success {
    @extend .message;
    background-color: green
}

.error {
    @extend .message;
    background-color: red
}

.warning {
    @extend .message;
    background-color: orange
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: var(--color-headings);
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}